<ui:composition template="/templates/main.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="content">
		<h1 class="page-header ">
			<i class="fa fa-tachometer" /> #{msg['homeh1']}
		</h1>
		<h:form id="dashForm">

			<p:messages showDetail="true" id="messages" />
			<p:outputLabel value="Willkommen #{userBean.currentUser.userName}!" />

		</h:form>
	</ui:define>

</ui:composition>