<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:o="http://omnifaces.org/ui">

    <ui:define name="content">
        <h1 class="page-header">
            Suche
        </h1>

        <h:form id="searchForm">
            <p:panel class="noBorderGrid">
                <p:messages/>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="searchFilterId" value="#{msg['lSearchFilter']}"
                                           style="margin-right: 10px;"/>
                            <h:selectOneMenu id="searchFilterId" value="#{searchBean.filter}"
                                             style="font-size: medium;">
                                <f:selectItems value="#{searchBean.dataTypes}"/>
                            </h:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel for="searchId" value="#{msg['lSearchId']}"
                                           style="margin-right: 10px;"/>
                            <p:inputText id="searchId" value="#{searchBean.searchId}"
                                         pt:placeholder="#{msg['phSearchId']}" required="true"
                                         requiredMessage="#{valMsg['error.search.required']}">
                                <o:validator validatorId="javax.faces.RegularExpression"
                                             pattern="^[0-9]+$"
                                             message="#{valMsg['error.search.id.format']}"/>
                            </p:inputText>
                        </p:column>
                        <p:column>
                            <p:commandButton value="#{msg['bSearch']}" action="#{searchBean.search}"
                                             update="searchForm"
                                             style="margin-top: 10px; margin-bottom: 10px;"
                                             ajax="false"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
            <!-- Table for results -->
            <p:panel rendered="#{searchBean.showTable}" style="margin-top: 10px; margin-bottom: 10px;">


                <p:dataTable id="bookings" var="booking" value="#{searchBean.bookings}"
                             rowKey="#{booking.id}" emptyMessage="Keinen Eintrag vorhanden">


                    <p:column headerText="Buchung ID" sortBy="#{booking.id}">
                        <h:outputText value="#{booking.id}"/>
                    </p:column>
                    <p:column headerText="Kunde" sortBy="#{booking.clients}" style="width:200px;text-align: center">
                        <p:dataList value="#{booking.clients}" var="client" type="ordered">
                            #{client.id}, #{client.firstName} #{client.lastName}
                        </p:dataList>
                    </p:column>
                    <p:column headerText="Zimmer" sortBy="#{booking.rooms}" style="width:200px;text-align: center">
                        <p:dataList value="#{booking.rooms}" var="room" type="ordered">
                            #{room.id}, #{room.name}
                        </p:dataList>
                    </p:column>
                    <p:column headerText="Preis" sortBy="#{booking.price}">
                        <h:outputText value="#{booking.price}"/>
                    </p:column>
                    <p:column headerText="Datum von" sortBy="#{booking.dateFrom}">
                        <h:outputText value="#{booking.dateFrom}">
                            <f:convertDateTime pattern="MM-dd-yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Datum bis" sortBy="#{booking.dateTo}">
                        <h:outputText value="#{booking.dateTo}">
                            <f:convertDateTime pattern="MM-dd-yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Duration" sortBy="#{booking.duration}">
                        <h:outputText value="#{booking.duration}"/>
                    </p:column>

                </p:dataTable>
            </p:panel>
            <!-- Hint no results -->
            <p:panel class="noBorderGrid" rendered="#{searchBean.showHintNoRes}" style="margin-top: 10px;">
                <h:outputText value="#{msg['lHintNoResult']}"/>
            </p:panel>
        </h:form>

    </ui:define>
</ui:composition>