<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<h:form>
					<p:menu toggleable="true" style="width:90%;">
						<p:menuitem value="#{msg.homeh1}"
							icon="fa fa-dashboard" />
					</p:menu>
				</h:form>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ui:insert name="content" />
			</div>
		</div>
	</div>
</ui:composition>
</html>
