<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
        >
<ui:composition>

    <h:form id="menuForm">
        <p:menu toggleable="true" style="width:90%;">
            <p:submenu label="#{msg.mSearch}">
                <p:menuitem value="#{msg.mSearch}" icon="fa fa-search" outcome="#{navigation.pageSearch}"/>
            </p:submenu>
            <p:submenu label="#{msg.mBookings}">
                <p:menuitem value="#{msg.mBookingOverview}" icon="fa fa-book" outcome="#{navigation.pageBookingList}"/>
                <p:menuitem value="#{msg.mCreateBooking}" icon="fa fa-book" outcome="#{navigation.pageCreateBooking}"/>
            </p:submenu>
            <p:submenu label="#{msg.mClients}">
                <p:menuitem value="#{msg.mClientsList}" icon="fa fa-users" outcome="#{navigation.pageClientList}"/>
                <p:menuitem value="#{msg.mCreateClient}" icon="fa fa-users" outcome="#{navigation.pageCreateClient}"/>
            </p:submenu>
            <p:submenu label="#{msg.mRooms}">
                <p:menuitem value="#{msg.mRoomsList}" icon="fa fa-hotel" outcome="#{navigation.pageRoomsList}"/>
            </p:submenu>
            <p:submenu label="#{msg.mMenuAccounts}" rendered="#{userBean.currentUser.role eq 'ADMIN'}">
                <p:menuitem value="#{msg.mCreateAccount}" icon="fa fa-user" outcome="#{navigation.pageRegister}"/>
            </p:submenu>
        </p:menu>
        <p:commandButton ajax="false" value="Log Export All" icon="fa fa-file-pdf-o" rendered="#{userBean.currentUser.role eq 'ADMIN'}">
            <p:fileDownload value="#{logExport.exportLogsAll()}"/>
        </p:commandButton>
        <p:commandButton ajax="false" value="Log Export User" icon="fa fa-file-pdf-o" rendered="#{userBean.currentUser.role eq 'ADMIN'}">
            <p:fileDownload value="#{logExport.exportLogsUser()}"/>
        </p:commandButton>
    </h:form>
    <!--	<p:submenu label="#{msg.mReceipts}">
				<p:menuitem value="#{msg.mReceiptsList}" icon="fa fa-list-alt" outcome="#{navigation.pageReceiptList}"/>
			</p:submenu>
	<h:form id="secMenu">
		<p:menu toggleable="true" style="width:90%;">
			<p:submenu label="#{msg.mSettings}">
				<p:menuitem value="#{msg.mAccount}" icon="fa fa-user" />
				<p:menuitem value="#{msg.mAdmin}" icon="fa fa-key" />
				
	
			</p:submenu>
		</p:menu>
	</h:form>-->
</ui:composition>
</html>
