<ui:composition template="/templates/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="content">
		<h1 class="page-header">
			Rechnungsliste
		</h1>

	</ui:define>
</ui:composition>