<ui:composition template="/templates/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="content">
		<h1 class="page-header">
			Zimmerliste
		</h1>


		<p:dataTable id="rooms" var="room" value="#{roomBean.rooms}"
					 rowKey="#{room.id}" emptyMessage="Kein Eintrag vorhanden">

            <p:column headerText="Zimmer ID" sortBy="#{room.id}" style="width:100px;text-align: center">
                <h:outputText value="#{room.id}" />
            </p:column>

			<p:column headerText="Name" sortBy="#{room.name}" style="width:150px;text-align: center">
				<h:outputText value="#{room.name}" />
			</p:column>

			<p:column headerText="Personen Max." sortBy="#{room.maxPeople}" style="width:100px;text-align: center">
				<h:outputText value="#{room.maxPeople}" />
			</p:column>

			<p:column headerText="Preis Single" sortBy="#{room.priceSingle}" style="width:100px;text-align: center">
				<h:outputText value="#{room.priceSingle}" />
			</p:column>

            <p:column headerText="Preis Max." sortBy="#{room.priceMax}" style="width:100px;text-align: center">
                <h:outputText value="#{room.priceMax}" />
            </p:column>

            <p:column headerText="Aufschlag für Kind" sortBy="#{room.priceForChild}" style="width:100px;text-align: center">
                <h:outputText value="#{room.priceForChild}" />
            </p:column>

			<p:column headerText="Ausstattung" sortBy="#{room.facilities}" style="width:350px;text-align: center">
				<h:outputText value="#{room.facilities}"/>
			</p:column>

            <p:column headerText="Größe" sortBy="#{room.size}" style="width:100px;text-align: center">
                <h:outputText value="#{room.size}"/>
            </p:column>

		</p:dataTable>

	</ui:define>
</ui:composition>