<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>#{msg['aAppTitle']}</title>
		<h:outputStylesheet>
            .noBorderGrid tr, .noBorderGrid td {
                border: none !important;
            }
        </h:outputStylesheet>
	</f:facet>

	<f:facet name="middle">
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" />
		<h:outputStylesheet name="bootstrap/css/bootstrap.css" />
		<h:outputStylesheet name="css/dashboard.css" />
		<h:outputStylesheet name="css/desktop.css" />
		<h:outputScript name="bootstrap/js/bootstrap.js" />
		<h:outputStylesheet>
            .noBorderGrid tr, .noBorderGrid td {
                border: none !important;
            }
                    .transparentBackground tr,
.transparentBackground td { background: transparent !important; }
        </h:outputStylesheet>

	</f:facet>

	<f:facet name="last">
		<h:outputStylesheet name="css/font-awesome.css" />
	</f:facet>

</h:head>
<h:body>
	<ui:debug />
	<f:view contentType="text/html" >
		<ui:include src="/snippets/header.xhtml" />
		<ui:include src="/snippets/content.xhtml" />
	</f:view>
</h:body>
</html>