<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <h1 class="page-header">
            Kunde Anlegen
        </h1>
        <h:form id="form">
            <p:panel class="noBorderGrid">
                <p:messages id="messages"/>
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="name" value="#{msg['lFirstName']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="name" required="true" value="#{clientBean.firstName}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="lastName" value="#{msg['lLastName']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="lastName" value="#{clientBean.lastName}" required="true"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="birthdate" value="#{msg['lBirthdate']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:calendar id="birthdate" required="true" value="#{clientBean.birthDate}"
                                        navigator="true" yearRange="c-100:c-0" pattern="yyyy-MMM-dd"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="gender" value="#{msg['lGender']}"/>
                        </p:column>
                        <p:column>
                            <p:selectOneRadio id="gender" value="#{clientBean.gender}">
                                <f:selectItem itemLabel="#{msg['lMale']}" itemValue="M"/>
                                <f:selectItem itemLabel="#{msg['lFemale']}" itemValue="F"/>
                            </p:selectOneRadio>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="companyName" value="#{msg['lCompanyName']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="companyName" value="#{clientBean.companyName}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="billingAdress" value="#{msg['lBillingAdress']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="billingAdress" required="true" value="#{clientBean.address}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="note" value="#{msg['lNote']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="note" value="#{clientBean.note}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="phoneNumber" value="#{msg['lPhoneNumber']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="phoneNumber" required="true" value="#{clientBean.telephone}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel for="email" value="#{msg['lEmail']}"
                                           style="font-weight:bold"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="email" value="#{clientBean.email}"/>
                        </p:column>
                    </p:row>


                    <p:row>
                        <p:column colspan="3">
                            <p:commandButton value="Create"
                                             action="#{clientBean.createClient}" update="form"/>
                        </p:column>
                    </p:row>


                </p:panelGrid>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>