<ui:composition template="/templates/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="content">
		<h1 class="page-header">
			Kundenliste
		</h1>

		<p:dataTable id="clients" var="client" value="#{clientBean.clients}" rowKey="#{client.id}" emptyMessage="Kein Eintrag vorhanden">

			<p:column headerText="Vorname" sortBy="#{client.firstName}">
				<h:outputText value="#{client.firstName}"></h:outputText>
			</p:column>
			<p:column headerText="Nachname" sortBy="#{client.lastName}">
				<h:outputText value="#{client.lastName}"></h:outputText>
			</p:column>
			<p:column headerText="Geburtsdatum" sortBy="#{client.birthDate}">
				<h:outputText value="#{client.birthDate}"></h:outputText>
			</p:column>
			<p:column headerText="Geschlecht" sortBy="#{client.gender}">
				<h:outputText value="#{client.gender}"></h:outputText>
			</p:column>
			<p:column headerText="Rechnungsadresse" sortBy="#{client.address}">
				<h:outputText value="#{client.address}"></h:outputText>
			</p:column>
			<p:column headerText="Firmenname" sortBy="#{client.companyName}">
				<h:outputText value="#{client.companyName}"></h:outputText>
			</p:column>
			<p:column headerText="Notiz" sortBy="#{client.note}">
				<h:outputText value="#{client.note}"></h:outputText>
			</p:column>
			<p:column headerText="Telefon" sortBy="#{client.telephone}">
				<h:outputText value="#{client.telephone}"></h:outputText>
			</p:column>
			<p:column headerText="E-Mail" sortBy="#{client.email}">
				<h:outputText value="#{client.email}"></h:outputText>
			</p:column>

		</p:dataTable>


	</ui:define>
</ui:composition>