<ui:composition template="/templates/main.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="content">
		<h1 class="page-header">
		#{bookingBean.booking.id eq null ? msg.newBooking
			: msg.editBooking}
		</h1>
		<h:form id="form">
			<p:messages id="messages" />
			<p:wizard flowListener="#{bookingBean.onFlowProcess}">
			<p:tab id="kunden" title="Kunden">
				<p:panelGrid>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="menu" value="Kunden:"
								style="font-weight:bold" />
						</p:column>
						<p:column>
							<p:selectCheckboxMenu id="menu" value="#{bookingBean.selectedClientsStr}" label="Kunden auswählen"
                              filter="true" filterMatchMode="startsWith" required="true">
            				<f:selectItems value="#{bookingBean.clientsStr}" />
            				<p:ajax update="selectedClients" />
        					</p:selectCheckboxMenu>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="selectedClients" value="Gewählte Kunden:"
								style="font-weight:bold" />
						</p:column>
						<p:column>
							<p:dataList id="selectedClients" value="#{bookingBean.selectedClientsStr}" var="client" type="ordered">
								#{client}
						    </p:dataList>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:tab>
			<p:tab id="datum" title="Datum">
				<p:panelGrid>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="dateFrom" value="#{msg['lDateFrom']}"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:calendar id="dateFrom"
										value="#{bookingBean.dateFrom}" mindate="#{bookingBean.today}"
										navigator="true" yearRange="c-100:c-0" pattern="dd-MMM-yyyy" required="true">
										<f:ajax event="dateSelect" listener="#{bookingBean.updateDateTo}" render="dateTo"/>
							</p:calendar>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="dateTo" value="#{msg['lDateTo']}"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:calendar id="dateTo"
										value="#{bookingBean.dateTo}" required="true" mindate="#{bookingBean.dateFromPlusOne}" 
										navigator="true" yearRange="c-100:c-0" pattern="dd-MMM-yyyy"/>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:tab>
			<p:tab id="zimmer" title="Zimmer">
				
				<p:panelGrid>
					
					
					<p:row>
						<p:column colspan="2">
						<h:outputLabel for="basic" value="Erwachsenenanzahl: " />
						</p:column>
						<p:column>
        				<p:spinner id="basic" value="#{bookingBean.erwachseneNr}" >
        				<f:ajax process="@this"/>
        				</p:spinner>
        				</p:column>
       				</p:row>
       				<p:row>
        				<p:column colspan="2">
						<h:outputLabel for="basic2" value="Kinderanzahl: " />
						</p:column>
						<p:column>
        				<p:spinner id="basic2" value="#{bookingBean.kinderNr}" >
        					<f:ajax process="@this"/>
        				</p:spinner>
        				</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:commandButton value="Zimmerliste laden" icon="ui-icon-extlink" >
								<f:ajax render="menu2" listener="#{bookingBean.refreshZimmerListe}"/>
							</p:commandButton>
						</p:column>
						
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="menu2" value="Zimmer:"
								style="font-weight:bold" />
						</p:column>
						<p:column>
							<p:panelGrid>
								<p:row>
									<p:column>
										<p:selectOneMenu id="menu2" value="#{bookingBean.selectedRoomsStr}" label="Zimmer auswählen">
											<f:ajax process="@this"/>
			                              <f:selectItem itemLabel="Zimmer auswählen" itemValue="" itemDisabled="true"/>
			            				<f:selectItems value="#{bookingBean.roomsStr}" />
			        					</p:selectOneMenu>
									</p:column>
									<p:column>
										<p:commandButton value="Hinzufügen">
											<f:ajax listener="#{bookingBean.addZimmer()}" render="rt" icon="ui-icon-plus"/>
										</p:commandButton>
									</p:column>
								</p:row>
							
							</p:panelGrid>
							
						</p:column>
					</p:row>
					<p:row id="gzRow">
						<p:column colspan="2">
							<p:outputLabel for="rt" value="Gewählte Zimmer:"
								style="font-weight:bold" />
						</p:column>
						
						<p:column>
							<p:dataList id="rt" value="#{bookingBean.roomAndPreis}" var="r" emptyMessage="Keine Zimmer ausgewählt">
					            #{r}
					        </p:dataList>
						</p:column>
					</p:row>					
				</p:panelGrid>
			</p:tab>
			<p:tab id="preis" title="Preis">
				<p:panelGrid>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="price" value="Preis für 1 Nacht:"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="price" value="#{bookingBean.price}" placeholder="0.0"/>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="duration" value="Duration:"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="duration" value="#{bookingBean.duration}" >
							</p:outputLabel>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="total" value="Totalpreis:"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="total" value="#{bookingBean.total}" >
							</p:outputLabel>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:tab>
			<p:tab id="summary" title="Zusammenfassung">
				<p:panelGrid>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="selectedClientsZ" value="Gewählte Kunden:"
								style="font-weight:bold" />
						</p:column>
						<p:column>
							<p:dataList id="selectedClientsZ" value="#{bookingBean.selectedClientsStr}" var="client" type="ordered">
								#{client}
						    </p:dataList>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="dateFromZ" value="#{msg['lDateFrom']}"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="dateFromZ"
										value="#{bookingBean.dateFrom}">
										<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+3"/>
							</p:outputLabel>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="dateToZ" value="#{msg['lDateTo']}"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="dateToZ"
										value="#{bookingBean.dateTo}" pattern="yyyy-MMM-dd">
										<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+3"/>
							</p:outputLabel>
						</p:column>
					</p:row>												
					
					<p:row >
						<p:column colspan="2">
							<p:outputLabel for="rtz" value="Gewählte Zimmer:"
								style="font-weight:bold" />
						</p:column>
						
						<p:column>
							<p:dataList id="rtz" value="#{bookingBean.roomAndPreis}" var="r" emptyMessage="Keine Zimmer ausgewählt">
					            #{r}
					        </p:dataList>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="pricez" value="Preis für 1 Nacht:"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="pricez" value="#{bookingBean.price}" placeholder="0.0"/>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="durationz" value="Duration:"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="durationz" value="#{bookingBean.duration}" >
							</p:outputLabel>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel for="totalz" value="Totalpreis:"
										   style="font-weight:bold"/>
						</p:column>
						<p:column>
							<p:outputLabel id="totalz" value="#{bookingBean.total}" >
							</p:outputLabel>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="3">
							<p:commandButton value="#{bookingBean.booking.id eq null ? msg['create'] :msg.save}"
											 action="#{bookingBean.createBooking}" update="form"/>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:tab>
			</p:wizard>
		</h:form>
	</ui:define>
</ui:composition>