<ui:composition template="/templates/main.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="content">
		<h1 class="page-header">
			Buchungsliste
		</h1>
		<h:form id="form">
		<p:panel>

		<p:inputSwitch value="#{bookingList.cancel}" onLabel="Aktiv" offLabel="Storniert" >
            <p:ajax listener="#{bookingList.loadBookings}" update="bookings" />
        </p:inputSwitch>
			<p:dataTable id="bookings" var="booking" value="#{bookingList.bookings}"
					rowKey="#{booking.id}" emptyMessage="Kein Eintrag vorhanden">

				<p:column headerText="Buchung ID" sortBy="#{booking.id}">
					<h:outputText value="#{booking.id}" />
				</p:column>

				<p:column headerText="Kunde" sortBy="#{booking.clients}" style="width:200px;text-align: center">
					<p:dataList value="#{booking.clients}" var="client" type="ordered">
						#{client.id}, #{client.firstName} #{client.lastName}
					</p:dataList>
				</p:column>

				<p:column headerText="Zimmer" sortBy="#{booking.rooms}" style="width:200px;text-align: center">
					<p:dataList value="#{booking.rooms}" var="room" type="ordered">
						#{room.id}, #{room.name}
					</p:dataList>
				</p:column>

				<p:column headerText="Preis" sortBy="#{booking.price}">
					<h:outputText value="#{booking.price}" />
				</p:column>

				<p:column headerText="Datum von" sortBy="#{booking.dateFrom}">
					<h:outputText value="#{booking.dateFrom}">
						<f:convertDateTime pattern="MM-dd-yyyy" timeZone="GMT+3"/>
					</h:outputText>
				</p:column>

				<p:column headerText="Datum bis" sortBy="#{booking.dateTo}">
					<h:outputText value="#{booking.dateTo}">
						<f:convertDateTime pattern="MM-dd-yyyy" timeZone="GMT+3"/>
					</h:outputText>
				</p:column>

				<p:column headerText="Dauer" sortBy="#{booking.duration}">
					<h:outputText value="#{booking.duration}"/>
				</p:column>

				<p:column>
					<p:commandButton
							action="#{bookingActions.editBooking(booking,navigation.pageBookingList)}"
							id="edit" icon="fa fa-edit" title="Editieren" ajax="false" rendered="#{!booking.cancel}"/>

					<p:commandButton ajax="false" icon="fa fa-file-pdf-o" rendered="#{!booking.cancel}">
						<p:fileDownload value="#{invoicePdf.createPdf(booking)}" />
					</p:commandButton>
					
					<p:commandButton
							action="#{bookingActions.cancelBooking(booking,navigation.pageBookingList)}"
							id="cancel" icon="fa fa-trash" ajax="false" title="Stornieren" rendered="#{!booking.cancel}" />
				</p:column>
				</p:dataTable>
			</p:panel>
			</h:form>

	</ui:define>
</ui:composition>

